<!DOCTYPE html>
<html>
<head>
  <title>Duo 2FA Demo</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 2em; }
    .error { color: red; }
  </style>
</head>
<body>
  <h1>Duo 2FA Demo</h1>
  <p> failemode: <%= @duo_failmode %></p>
  <%= yield %>
</body>
</html>
